@import "tailwindcss";

@theme {
  --color-brand: #8b5cf6; /* Electric Violet / Purple */
}

body {
  /* A very deep, rich midnight blue/purple for the absolute background */
  background-color: #0b0914; 
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}